.contact-code-block {
  max-width: 70rem;

  a {
    color: #f4e53c;
    font-weight: 700;
  }

  .code-styled {
    background: #353535;
    color: #f9f9f9;
  }

  .option-inline {
    cursor: pointer;
    color: #ffffff;
    background: #f4e53c;
    background: #a2be72;
    background: #0b73ba;
    margin-right: 1rem;

    &::before {
      content: '[';
    }

    &::after {
      content: ']\a';
      white-space: pre;
    }
  }
}

span.code-cursor {
  animation: cursorblink .65s linear infinite;
}

@keyframes cursorblink {
  0% {
    color: inherit;
  }
  50% {
    color: transparent;
  }
}
