body {
  font-size: 16px;
}

header {
  min-height: 100vh;
  background: #353535;

  color: #f9f9f9;
}

h1 {
  color: #f9f9f9;
  font-weight: 700;

  span {
    display: block;
    color: #f95959;
  }
}

p.sub-h1 {
  background: #f95959;
  color: #f9f9f9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
